<html>
  <head>
    <title>localtunnel - <%= url %></title>
    <style>
      :root {
        --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
        --background-color: #ffffff;
        --text-color: #24292e;
        --border-color: #e1e4e8;
        --header-bg: #f6f8fa;
      }
      body {
        font-family: var(--font-family);
        background-color: var(--background-color);
        color: var(--text-color);
        margin: 2em;
      }
      table {
        border-collapse: collapse;
        width: 100%;
        border-radius: 6px;
        overflow: hidden;
      }
      table, th, td {
        border: 1px solid var(--border-color);
      }
      th, td {
        padding: 12px;
        text-align: left;
      }
      th {
        background-color: var(--header-bg);
      }
    </style>
  </head>
  <body>
    <h1>Localtunnel Traffic Overview</h1>
    <p>Forwarding <a href="<%= url %>" target="_blank"><%= url %></a> to port <%= port %></p>
    <p>Tunnel started at <%= startTime.toLocaleString("fr") %></p>
    <h2>Traffic</h2>
    <table id="traffic-table">
      <tr>
        <th>ID</th>
        <th>Timestamp</th>
        <th>Method</th>
        <th>Path</th>
        <th>Query</th>
        <th>Response Status</th>
        <th>Response Time</th>
      </tr>
      <% requests.forEach(request => { %>
        <%
          const [path, query] = request.path.split('?');
          const params = new URLSearchParams(query);
          const queryHtml = [...params.entries()].map(([key, value]) => `<b>${key}</b>: ${value}`).join('<br>');
        %>
        <tr>
          <td><a href="/request/<%= request.id %>"><%= request.id %></a></td>
          <td><%= new Date(request.startTime).toLocaleString("fr") %></td>
          <td><%= request.method %></td>
          <td><%= path %></td>
          <td style="word-break: break-all;"><%- queryHtml %></td>
          <td><%= request.responseStatus %></td>
          <td><%= request.responseTime %>ms</td>
        </tr>
      <% }); %>
    </table>
    <script>
      const eventSource = new EventSource('/events');
      const table = document.getElementById('traffic-table');

      eventSource.onmessage = (event) => {
        const request = JSON.parse(event.data);
        const row = table.insertRow(1);
        const [path, query] = request.path.split('?');
        const params = new URLSearchParams(query);
        const queryHtml = [...params.entries()].map(([key, value]) => `<b>${key}</b>: ${value}`).join('<br>');
        row.innerHTML = `
          <td><a href="/request/${request.id}">${request.id}</a></td>
          <td>${new Date(request.startTime).toLocaleString("fr")}</td>
          <td>${request.method}</td>
          <td>${path}</td>
          <td style="word-break: break-all;">${queryHtml}</td>
          <td>${request.responseStatus}</td>
          <td>${request.responseTime}ms</td>
        `;
      };
    </script>
  </body>
</html>